<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Cybage_Storelocator::Dealer" sortOrder="10" title="Dealer">
					<resource id="Cybage_Storelocator::Dealer_save" sortOrder="10" title="Save Dealer"/>
					<resource id="Cybage_Storelocator::Dealer_delete" sortOrder="20" title="Delete Dealer"/>
					<resource id="Cybage_Storelocator::Dealer_update" sortOrder="30" title="Update Dealer"/>
					<resource id="Cybage_Storelocator::Dealer_view" sortOrder="40" title="View Dealer"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
