<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Cybage\Storelocator\Api\DealerRepositoryInterface" type="Cybage\Storelocator\Model\DealerRepository"/>
    <preference for="Cybage\Storelocator\Api\Data\DealerInterface" type="Cybage\Storelocator\Model\Data\Dealer"/>
    <preference for="Cybage\Storelocator\Api\Data\DealerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Cybage\Storelocator\Model\ResourceModel\Dealer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cybage_storelocator_dealer</argument>
            <argument name="resourceModel" xsi:type="string">Cybage\Storelocator\Model\ResourceModel\Dealer\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cybage_storelocator_dealer_listing_data_source" xsi:type="string">Cybage\Storelocator\Model\ResourceModel\Dealer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dealerimport" xsi:type="object">Cybage\Storelocator\Console\Command\Dealerimport</item>
                <item name="groupimport" xsi:type="object">Cybage\Storelocator\Console\Command\Groupimport</item>
            </argument>
        </arguments>
    </type>
    <preference for="Cybage\Storelocator\Api\OfferRepositoryInterface" type="Cybage\Storelocator\Model\OfferRepository"/>
    <preference for="Cybage\Storelocator\Api\Data\OfferInterface" type="Cybage\Storelocator\Model\Data\Offer"/>
    <preference for="Cybage\Storelocator\Api\Data\OfferSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Cybage\Storelocator\Api\OffertypeRepositoryInterface" type="Cybage\Storelocator\Model\OffertypeRepository"/>
    <preference for="Cybage\Storelocator\Api\Data\OffertypeInterface" type="Cybage\Storelocator\Model\Data\Offertype"/>
    <preference for="Cybage\Storelocator\Api\Data\OffertypeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    
    <type name="Cybage\Storelocator\Controller\Adminhtml\Category\Icon\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\CategoryImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category</argument>
            <argument name="basePath" xsi:type="string">catalog/category</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Magento\Catalog\Model\Category\DataProvider" type="Cybage\Storelocator\Model\Category\DataProvider" />
    
    <virtualType name="Cybage\Storelocator\DealerLogoUpload" type="Cybage\Storelocator\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">cybage/tmp/dealer</argument>
            <argument name="basePath" xsi:type="string">cybage/dealer</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Cybage\Storelocator\Model\ImageUploaderPool">
        <arguments>
            <argument name="uploaders" xsi:type="array">
                <item name="image" xsi:type="string">Cybage\Storelocator\DealerLogoUpload</item>
            </argument>
        </arguments>
    </type>
    <type name="Cybage\Storelocator\Controller\Adminhtml\Dealer\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Cybage\Storelocator\DealerLogoUpload</argument>
        </arguments>
    </type>
</config>
