<?xml version="1.0"?>
<!--
 * BFL Cybage_Generic
 *
 * @category   Cybage_Generic Config
 * @package    BFL Cybage_Generic
 * @copyright  2019 All rights reserved.
 * @license    Proprietary
 * @author     BFL (bajaj finserv limited)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="storelocator" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Storelocator Configuration</label>
            <tab>cybage</tab>
            <resource>Cybage_Generic::Config</resource>
            <group id="dealer" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" >
                <label>Dealer</label>
                <field id="default_logo" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="6" showInDefault="1" showInWebsite="1" >
                    <label>Upload custom file</label>
                    <backend_model>Cybage\Storelocator\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">dealer</base_url>
                </field>
            </group>
            <group id="storelocator" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Storelocator</label>
                <field id="api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Url</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                </field>
                <field id="ipinfo_api" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ipinfo API Url</label>
                </field>
                <field id="geolocation_api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Geo location API Url</label>
                </field>
            </group>
        </section>
        <section id="api_config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>API Configuration</label>
            <tab>cybage</tab>
            <resource>Cybage_Generic::Config</resource>
            <group id="sfdc" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SFDC API Configuration</label>
                <field id="ocp_apim_subscription_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ocp-Apim-Subscription-Key</label>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API URL</label>
                </field>
                <field id="token_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Token URL</label>
                </field>
                <field id="sfdc_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFDC for all</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>