<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\Compare\ListCompare" type="Cybage\CatalogProduct\Block\Product\Compare\ListCompare" />
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Compare\Item\Collection" type="Cybage\CatalogProduct\Model\ResourceModel\Product\Compare\Item\Collection" />
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="addCompareErrorMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Cybage_CatalogProduct::messages/errormessage.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>