<?xml version="1.0"?>
<!-- /** * Copyright (c) BFL (bajaj finserv limited), India * */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit\Form" type="Cybage\CustomEav\Block\Adminhtml\Product\Attribute\Edit\Form" />
    <type name="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit\Tab\Front">
        <plugin name="companyname_attribute_edit_form" type="Cybage\CustomEav\Plugin\Block\Adminhtml\Product\Attribute\Edit\Tab\Front" sortOrder="1"/>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Attribute\Save">
        <plugin name="upload_highlight_icon" type="Cybage\CustomEav\Plugin\Controller\Adminhtml\Product\Attribute\SavePlugin"/>
    </type>
</config>