<?xml version="1.0" ?>
<!--
 * BFL Cybage_CustomEav
 *
 * @category   Cybage_CustomEav schema
 * @package    BFL Cybage_CustomEav
 * @copyright  2019 All rights reserved.
 * @license    Proprietary
 * @author     BFL (bajaj finserv limited)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Cybage_CustomEav" setup_version="1.0.0"/>
</config>
