<?xml version="1.0"?>
<!-- /** * Copyright (c) BFL (bajaj finserv limited), India * */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="api_config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>API Configuration</label>
            <tab>cybage</tab>
            <resource>Cybage_Generic::Config</resource>
            <group id="EDW" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>EDW API Configuration</label>
                <field id="edw_api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>EDW API URL</label>
                </field>
                <field id="edw_api_subscription_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>EDW API Subscription Key</label>
                </field>
            </group>
        </section>
    </system>
</config>