<?xml version="1.0"?>
<!--/**
 * BFL Cybage_CustomWishlist
 *
 * @category   Cybage_CustomWishlist Module
 * @package    BFL Cybage_CustomWishlist
 * @copyright  2019 All rights reserved.
 * @license    Proprietary
 * @author     BFL (bajaj finserv limited)
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="customwishlist" frontName="customwishlist">
            <module name="Cybage_CustomWishlist"/>
        </route>
    </router>
</config>
