<?xml version="1.0"?>
<!-- /** * Copyright (c) BFL (bajaj finserv limited), India * */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seo_config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SEO Configuration</label>
            <tab>cybage</tab>
            <resource>Cybage_Generic::Config</resource>
            <group id="info" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Organization Schema</label>
                <field id="enable_org_schema" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Organization Schema</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="business_name" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Business Name</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="business_legal_name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Business Legal Name</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="business_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URL</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="business_logo" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Logo</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="business_found_date" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Founding Date</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="founder_name" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Founder Name</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="street_address" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Street Address</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="address_locality" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Address Locality</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="address_region" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Address Region</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="postal_code" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Postal Code</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="address_country" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Address Country</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="customer_support_phone" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Support Phone</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="customer_support_email" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Support Email</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="instagram" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Instagram</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="facebook" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facebook</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
                <field id="twitter" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Twitter</label>
                    <depends>
                        <field id="enable_org_schema">1</field>
                    </depends>
                </field>
            </group>
            <group id="search_box" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Search Box Schema</label>
                <field id="enable_search_box_schema" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Search Box Schema</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="breadcrumb" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Breadcrumb Schema</label>
                <field id="enable_breadcrumb_schema" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Breadcrumb Schema</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="product" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Schema</label>
                <field id="enable_breadcrumb_schema" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Product Schema</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>