<?xml version="1.0"?>
<!-- /** * Copyright (c) BFL (bajaj finserv limited), India * */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <api_config>
            <pstp>
                <ocp_apim_subscription_key>6677a2cc4a9a4cf39c3b1adab81585a5</ocp_apim_subscription_key>
                <sendotp_api_url>https://prodapitm.bajajfinserv.in/BotOffers/SendOTP</sendotp_api_url>
                <otpsource>HelloTARs</otpsource>
                <getoffer_api_url>https://prodapitm.bajajfinserv.in/BotOffers/GetOffer</getoffer_api_url>
                <getoffer_api_source_id>3</getoffer_api_source_id>
                <first_transaction_api_url>https://prodapitm.bajajfinserv.in/Service/getFirstTransactionDetails</first_transaction_api_url>
            </pstp>
            <accesstoken>
                <api_url>https://login.microsoftonline.com/bajajfinance.in/oauth2/token</api_url>
                <client_id>dc802041-14b4-47f5-875e-fc7a4b32ec97</client_id>
                <client_secret>6OoSzIT93stH7ETrGZ2jy3AlE08KfUMAbtJ/4gNfBXk=</client_secret>
                <grant_type>client_credentials</grant_type>
                <resource>https://management.azure.com/</resource>
            </accesstoken>
        </api_config>
        <customer>
            <captcha>
                <shown_to_logged_in_user>
                    <custom_login_form>1</custom_login_form>
                </shown_to_logged_in_user>
                <always_for>
                    <custom_login_form>1</custom_login_form>
                </always_for>
                <enable>1</enable>
                <mode>always</mode>
                <forms>custom_login_form</forms>
                <failed_attempts_login>0</failed_attempts_login>
                <length>4</length>
                <case_sensitive>1</case_sensitive>
            </captcha>
        </customer>
        <captcha translate="label">
            <frontend>
                <areas>
                    <custom_login_form>
                        <label>Custom Login Form</label>
                    </custom_login_form>
                </areas>
            </frontend>
        </captcha>        
    </default>
</config>