<?xml version="1.0" ?>
<!--
 * BFL Cybage_CustomEav
 *
 * @category   Cybage_CustomEav schema
 * @package    BFL Cybage_CustomEav
 * @copyright  2019 All rights reserved.
 * @license    Proprietary
 * @author     BFL (bajaj finserv limited)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="customeav" frontName="customeav">
            <module name="Cybage_CustomEav" before="Magento_Backend" />
        </route>
    </router>
</config>