<?xml version="1.0"?>
<!-- /** * Copyright (c) BFL (bajaj finserv limited), India * */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
            <api_config>
                <exper_review_91>
                    <end_point>http://tasks.91mobiles.com/nm/api/client/91prod/product/expertise/</end_point>
                    <client_id>78621</client_id>
                </exper_review_91>
            </api_config>
    </default>
</config>