<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\CustomerData\CompareProducts" type="Cybage\CatalogProduct\CustomerData\CustomCompareProducts" />
    <type name="Magento\Catalog\Model\Config">
        <plugin name="Cybage_CatalogProduct::addCustomOptions" type="Cybage\CatalogProduct\Plugin\Model\Config" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Cybage_CatalogProduct::addDecendingFilterInToolbar" type="Cybage\CatalogProduct\Plugin\Product\ProductList\Toolbar" />
    </type>
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Cybage\CatalogProduct\Block\Product\ProductList\Toolbar" />
    <preference for="Magento\Wishlist\Controller\Index\Add" type="Cybage\CatalogProduct\Controller\Wishlist\Index\Add" />
    <preference for="Magento\Wishlist\Controller\Index\Remove" type="Cybage\CatalogProduct\Controller\Wishlist\Index\Remove" />
    <preference for="Magento\CatalogWidget\Block\Product\ProductsList" type="Cybage\CatalogProduct\Block\Product\ProductsList" />
    <preference for="Magento\Catalog\Controller\Product\Compare\Add" type="Cybage\CatalogProduct\Controller\Product\Compareadd" />
</config>