<?xml version="1.0" ?>
<!--
 * BFL Cybage_Generic
 *
 * @category   Cybage_Generic Config
 * @package    BFL Cybage_Generic
 * @copyright  2019 All rights reserved.
 * @license    Proprietary
 * @author     BFL (bajaj finserv limited)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Cybage_Generic::Config" sortOrder="10" title="Generic_config">
                </resource>
            </resource>
        </resources>
    </acl>
</config>
