<?xml version="1.0" ?>
<!--
* BFL Cybage_Generic
*
* @category   Cybage_Generic Config
* @package    BFL Cybage_Generic
* @copyright  2019 All rights reserved.
* @license    Proprietary
* @author     BFL (bajaj finserv limited)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Cybage_Generic" setup_version="1.0.2">
        <sequence>
            <module name="Magento_Eav"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogImportExport"/>
        </sequence>
    </module>
</config>
